* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color:rgb(83, 81, 76) ;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: scroll; 
}
.heading {
    text-align: center;
    color: white; /* Make the text white for better contrast */
    font-size: 3em; /* Adjust size as needed */
    padding-top: 20vh; /* Adjust padding to position the heading correctly */
}
.farewell {
    padding: 20px; /* Add padding for some spacing */
    margin: 0;

.container {
    display: flex;
    width: 90vw;
    height: 80vh;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
    transition: flex 0.1s ease-in-out;
    position: relative;
}

.panel h3 {
    font-size: 24px;
    color: aliceblue;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.panel.active {
    flex: 3;
}

.panel.active h3 {
    opacity: 1;
}

/* Responsive Styles */
@media(max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}
